@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dices-shield,
  .dices-arrow,
  .dices-axe,
  .dices-helmet,
  .dices-steal,
  .dices-favors {
    @apply border border-black;
  }

  /* .dices-played {
    @apply border-y-2 border-black;
  } */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
